*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
}

#buttons {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 5px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
}

#play-rock{
  color: blue;
  border-width: 5px;
  font-size: 30px;
}

#play-paper{
  color: green;
  border-width: 5px;
  font-size: 30px;
}

#play-scissors{
  color: red;
  border-width: 5px;
  font-size: 30px;
}

#messages {
  text-align: center;
  font-size: 20px;
}
